# EditorConfig for setting IDE spacing settings: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Indentation override for all JS under lib directory
[**]
indent_style = space
indent_size = 4

[*.html]
indent_size = 2
